.login-page {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #fff;
  .bg-wrapper {
    height: 600px;
    overflow: hidden;
    position: relative;
    .bg {
      background-color: #f6f6f6;
      background-image: url(http://www.du17w.cn/wap/v1/themes/zh-cn/dist/images/bg-2.png);
      background-position: 50%;
      background-size: 100% 100%;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      &:hover {
        transform: matrix(1.05, 0, 0, 1.05, 0, 0);
        transition: -webkit-transform .5s linear;
        transition: transform .5s linear;
        transition: transform .5s linear, -webkit-transform .5s linear, -moz-transform .5s linear, -o-transform .5s linear;
      }
    }
  }

  .login-bady {
    height: 100%;
  }

  .login-inner {
    height: 100%;
    margin: 0 auto;
    width: 1200px;
    padding: 110px 0;
    box-sizing: border-box;
  }

  .login-wrap {
    float: right;
    position: relative;
    z-index: 11;
    box-sizing: border-box;
    width: 360px;
    height: 380px;
    background: #fff;
    padding: 35px 30px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .15);

    h2 {
      font-size: 20px;
      color: #323230;
      margin: 0 0 28px;
    }

    // 登录按钮
    .login-btn {
      width: 100%;
    }

    // 输入框左边的图表区域缩窄
    .el-input-group__prepend {
      padding: 0px 14px;
    }

    .login-code {
      height: 40px - 2px;
      display: block;
      margin: 0px -20px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .el-input__icon {
      width: 35px;
      font-size: 16px;
    }

    .el-input--prefix .el-input__inner {
      padding-left: 40px;
    }

    .group-btn {
      margin-top: 10px;

      .el-button+.el-button {
        margin-left: 0;
      }

      .forget-btn {
        color: #606266;
      }

      .register-btn {
        float: right;
      }
    }

    .el-form-item {
      margin-bottom: 25px;
    }
  }
}